@page
@model LoginModel
@using Lap1.Models;
@inject SignInManager<ApplicationUser> SignInManager
@{ ViewData["Title"] = "Log in"; }


<div class="container">
    <div class="row">
        <div class="col s12 m5 offset-m2">
            <h3>Login Hệ Thống</h3>
            <form asp-route-returnurl="@ViewData[" ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Input.Email" value="vietone15956@gmail.com" type="email" class="validate">
                        <label asp-for="Input.Email" data-error="wrong" data-success="right">
                            Email
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Input.Password" value="P@ssw0rd" type="password" class="validate">
                        <label asp-for="Input.Password" data-error="wrong" data-success="right">
                            Password
                        </label>
                    </div>
                </div>
                <div class="row padding-left-10px">

                    <label>
                        <input asp-for="Input.RememberMe" type="checkbox" class="filled-in" checked="checked" />
                        <span asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
                    </label>
                </div>
                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="row center">
                    <a href="/Identity/Account/ForgotPassword">Forgot your password?</a>
                </div>
            </form>
        </div>
        <div class="col s12 m4 offset-m1">
            <h5>Login using External Providers. (Khách hàng)</h5>
            <div class="divider"></div>
            @{ var loginProviders = await SignInManager.GetExternalAuthenticationSchemesAsync();
                if (loginProviders.Count() != 0)
                {
    <form asp-area="Identity" asp-page="/Account/ExternalLogin" asproute-returnurl="@ViewData["ReturnUrl"]" method="post" class="formhorizontal">
        <div>
            <p>
                @foreach (var provider in loginProviders)
                {
<button type="submit" class="btn btndefault" name="provider" value="@provider.DisplayName" title="Log in using your@provider.DisplayName account">
    @provider.DisplayName
</button>}
            </p>
        </div>
    </form> } }
        </div>
    </div>
</div>